.wrapper {
  width: 65%;
  margin: 0 auto;
}

.arrows {
    img {
    height: 40px;
    width: 40px;
  }
}

.prev {
  margin-right: 20px;
}

.next {
  margin-left: 20px;
}

#slider-wrapper {
  text-align: center;
  vertical-align: center;
  position: relative;
  .controls {
    display: inline-block;
    position: absolute;
    top:50%;
    margin-top: -20px;
  }
}

#slider-container {
  margin-top: 25px;
  margin-left: 60px;
  height: 533px;
  width: 820px;
  display: inline-block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
  .slider {
    padding: 0;
    margin: 0;
    position: relative;
    .slide {
      position: relative;
      white-space: normal;
      display: inline-block;
    }
  }
}

#toggleTileView {
  display: inline-block;
  &:hover {
    background-color: white;
  }
}