// @import "compass/css3/box-sizing";

// #panes {
//   @include box-sizing("content-box"); //compass utility mixin for box-sixing
// }

.arrows {
    img {
    height: 40px;
    width: 40px;
  }
}

.prev {
  // margin-right: 20px;
  left: 0px;
}

.next {
  margin-left: 20px;
}

#sliderDetails {
  width: 820px;
  text-align: right;
  margin: 0 auto 50px;
  color: black;
  font-family: serif;

  #readFull{
    float: left;
  }

  #slideQueue {
    float: right;
  }
}

#slider-wrapper {

   
  text-align: center;
  vertical-align: center;
  position: relative;

  margin-left: auto;
  margin-right: auto;
  // padding-left: 15px;
  // padding-right: 20px;
  width: 940px;

  .controls {
    display: inline-block;
    position: absolute;
    top:50%;
    margin-top: -20px;
  }
}

#slider-container {
  margin-top: 25px;
  // margin-left: 60px;
  height: 533px;
  width: 820px;
  display: inline-block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
  .slider {
    padding: 0;
    margin: 0;
    position: relative;
    .slide {
      position: relative;
      white-space: normal;
      display: inline-block;
    }
  }
}