<footer id="footer">
            <div > {{!-- class="nav" --}}
                <ul>
                    <li style="margin-left:0px;"><a href="#nowhere" >PRIVACY</a></li>
                    <li><a href="#nowhere" >RSS</a></li>
                    <li><a href="#nowhere" >CONTACT US</a></li>
                </ul>
            </div><!-- /footer -->
</footer>
