<div id="profileCard">
	<img src="assets/images/conservative-logo.png">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4"> 
				<img src="assets/images/jim-flaherty-head.png">
				<h1>{{mp}}</h1>
			</div>
			<div class="col-xs-8"> 
				<p>
					<strong> Language preference</strong>
					<p> English </p>
				</p>
				<p>
					<strong>Comittees</strong>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum turpis mauris, finibus non viverra ac, egestas sit amet dui.</p>
				</p>
				<p>
					<strong>Roles</strong>
					<ul>
						<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
						<li>Quisque finibus lorem nec purus ultrices, sed mattis tellus gravida.</li>
						<li>Donec ac lectus in est volutpat facilisis.</li>
					</ul>
				</p>
			</div>
		</div>
	</div>
</div>
<div id="contactBanner">
	<div id="contactInfo">
		<span> jim.flaherty@parl.gc.ca </span>
		<span> 613-9926344 </span>
		<span> 613-992-8320 </span>
		<span> House of Commons, Ottawa, Ontario K1A 0A6 </span>
	</div>
</div>

