<div id="slider-wrapper" >
	<div class='arrows prev controls '><img src='assets/images/left-arrow.png'></div>
	<div id="slider-container" >
		<div id="panes" class="slider"></div>
	</div>
	<div class='arrows next controls '><img src='assets/images/right-arrow.png'></div>
</div>